@model BananaSplit.Data.Team

@{
    ViewBag.Title = "BananaSplit: Create Team";
    Layout = "~/Views/Shared/_LayoutPageMetro.cshtml";
}

<h2 class="insettext">Add Team Information</h2>

<link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui.css")" type="text/css"/>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/validationEngine.jquery.css")" type="text/css"/>
<link rel="stylesheet" href="@Url.Content("~/Content/template.css")" type="text/css"/>


<script type="text/javascript" src="@Url.Content("~/Scripts/swfobject.js")"></script>


<script>
    $(document).ready(function () {
       
        //$("#myForm").validationEngine();

    });

    function showModal() {
        //$("#dialog-modal").dialog('open');
        $("#dialog-modal").dialog('open');
    }
</script>

<div class="curvedborders">
    
    @using (Html.BeginForm("Create", "Team", FormMethod.Post, new { id="myForm", enctype = "multipart/form-data" }))
    {
        <fieldset>
                    
            <input type="hidden" value="true" name="IsActive" id="IsActive"/>

            <div class="editor-label">
                <label>Team Name <span class="redreq">*</span></label>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.TeamName, new { style = "width:550px;", @class = "validate[required] text-input" })            
            </div>
     
            <div class="editor-label">
                <label>Team Logo</label>
            </div>
            <div class="editor-field">
                <input id="file_upload" type="file" name="file_upload" />
            </div>
            
            <div class="editor-label">
                <label>City <span class="redreq">*</span></label>
            </div>
            <div class="editor-field">                
                @Html.TextBox("City", "", new { style = "width:350px;", @class = "validate[required] text-input" })            
            </div>

            <div class="editor-label">
                <label>State <span class="redreq">*</span></label>
            </div>
            <div class="editor-field">
                <select name="StateId" id="StateId" class="validate[required]">
                    @foreach (var item in ViewBag.States)
                    {
                        <option value='@item.StateId'>@item.StateName</option>
                    }
                </select>
            </div>

            <p style="padding-top:26px">
            
                @*<a href="#" class="submit" onclick="jQuery('#myForm').validationEngine('validate'))" id="cssbutton">Create Venue</a>*@
                <input type="submit" value="  Save Team   " />
            </p>
        </fieldset>

    }

</div>



<div>
	@Html.ActionLink("Back To List", "Index", "Team")    
</div>

