@model BananaSplit.Data.Game

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPageMetro.cshtml";
}

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        //$("#myForm").validationEngine();

        $(".datepicker").datepicker();

        $(".tmPicker").ptTimeSelect({
            onClose: function (timeField) {
                $("#" + timeField.attr('id')).blur();
            }
        });

        $('#TeamTypeId').change(function () {
            var teamTypeVal = $(this).val();
            if (teamTypeVal != "") {

                $.getJSON("Team/GetTeamsByTeamType", { teamTypeId: teamTypeVal }, function (jsonData) {

                    if (jsonData.Success) {

                        var frag = document.createDocumentFragment();
                        var teams = jsonData.Teams;

                        for (item in jsonData) {
                            var option = document.createElement("option");
                            option.setAttribute("value", teams.TeamId);
                            option.innerText = teams.TeamName;

                            frag.appendChild(option);
                        }
                        //Populate teams
                        $('#TeamId').remove();
                        $('#TeamId').append(frag);
                        //Now populate visiting team
                        $('#VisitingTeamId').remove();
                        $('#VisitingTeamId').append(frag);
                    }

                });
            }
        });


    });
</script>

<h2>Create</h2>

@using (Html.BeginForm("Create", "Game", FormMethod.Post))
{
    <fieldset>
        <legend>Game</legend>

        <div class="editor-label">
            Season
        </div>
        <div class="editor-field">
            <select name="SeasonId" id="SeasonId" class="validate[required]">
                @foreach (var item in ViewBag.Seasons)
                {
                    <option value='@item.SeasonId'>@item.SeasonYear.Years</option>
                }
            </select>
        </div>
        
        <div class="editor-label">
            Team Type
        </div>
        <div class="editor-field">
            <select name="TeamTypeId" id="TeamTypeId" class="validate[required]">
                @foreach (var item in ViewBag.TeamTypes)
                {
                    <option value='@item.TeamTypeId'>@item.TeamTypeName</option>
                }
            </select>
        </div>

        <div class="editor-label">
            Teams
        </div>
        <div class="editor-field">
            <select name="TeamId" id="TeamId" class="validate[required]">
                
            </select>
        </div>

        <div class="editor-label">
            Visiting Team
        </div>
        <div class="editor-field">
            <select name="VisitingTeamId" id="VisitingTeamId" class="validate[required]">
                
            </select>
        </div>

        <div class="editor-label">
            Event Location
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventLocation)
        </div>

        <div class="editor-label">
            Time Zone
        </div>
        <div class="editor-field">
            <select name="TimeZone" id="TimeZone"  class="validate[required]">
                <option value="">Select a TimeZone</option>
                <option value="CST">CST</option>
                <option value="EST">EST</option>
                <option value="MST">MST</option>
                <option value="PST">PST</option>
            </select>
        </div>
        
        <div style="float:left;width:49%;">
            <div class="editor-label">
                Event Start Date
            </div>
            <div class="editor-field">
                @Html.TextBox("EventStartDate", Model.EventStartDate.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("en-US")), new { @class = "validate[required] text-input datepicker" })
            </div>
        </div>
        
        <div style="float:left;width:49%;">
            <div class="editor-label">
                <label>Event Start Time <span class="redreq">*</span></label>
            </div>
            <div class="editor-field">
                <input type="text" class="validate[required] text-input tmPicker" style="width:200px;" value="@Model.EventStartDate.ToShortTimeString()" name="EventStartTime" id="EventStartTime"/>                
            </div>  
        </div>
        
        <div style="float:left;width:49%;">
            <div class="editor-label">
                Event End Date
            </div>
            <div class="editor-field">
                @Html.TextBox("EventEndDate", Model.EventEndDate.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("en-US")), new { @class = "validate[required] text-input datepicker" })
            </div>
        </div>
        
        <div style="float:left;width:49%;">
            <div class="editor-label">
                <label>Event End Time <span class="redreq">*</span></label>
            </div>
            <div class="editor-field">
                <input type="text" class="validate[required] text-input tmPicker" style="width:200px;" value="@Model.EventEndDate.ToShortTimeString()" name="EventEndTime" id="EventEndTime" />                
            </div>  
        </div>

        <p style="clear: both;">
            <input type="submit" value="Create Game" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
